@import 'https://fonts.googleapis.com/css?family=Playfair+Display+SC|Yatra+One';
h1 {
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  margin-top: 0px;
}

h1 > a {
  text-decoration: none;
  color: black;
}

h1 > a:hover {
  text-decoration: none;
  color: black;
}

h4 {
  text-align: left;
  display: inline
}

.primaryImg {
  max-width: 200px;
  border: 10px 10px;
  float: left;
}

td.articleImg {
  text-align: right;
} 

.trendArticle {
  border-width: 1px;
  border-color: lightgrey;
  border-radius: 5px;
  border-style: solid;
}

.trendArticle img {
  align: right;
  max-width: 200px;
  border: 10px 10px;
}

.upperdiv.container {
  margin: 30px auto;
}


/*Search Bar*/

.searchbar.form-control {
  border-radius: 0
}

.dropdown-menu>li>a {
}

.dropdown-image {
  width: 64px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.dropdown-image > img {
  height: 64px;
  max-width: 64px;

/* Results Graph */

#graph {
  width: auto;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #AAA;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 32px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip-date {
  /* nothing needed */
}

.tooltip-value {
  font-weight: bold;
}

.tooltip-target {
  fill: black;
  fill-opacity: 0.1;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
