@import 'https://fonts.googleapis.com/css?family=Karla|Kaushan+Script|Playfair+Display+SC|EB+Garamond';

.landing-page {
  margin-top: 30px;
  text-align: center;
}

.landing-page > a > img {
  width: 65%;
  border: 1px solid grey;
  border-radius: 8px;
}

.landing-page > p {
  margin-top: 35px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 18px;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  margin-top: 0px;
}

h1.landing-page-title {
  text-align: center;
  margin-top: 40px;
  font-family: 'Kaushan Script', cursive;
  font-size: 46px;
  margin-bottom: 25px;
}

h1 > a {
  text-decoration: none;
  color: black;
}

h1 > a:hover {
  text-decoration: none;
  color: black;
}



h2 {
  font-family: 'EB Garamond', serif;
  font-size: 30px;
}

h2.top {
  font-size: 36px;
}

h2.bot {
  font-size: 24px;
}

h2 > a {
  text-decoration: none;
  color: black;
}

h2 > a:hover {
  text-decoration: none;
  color: black;
}

h3 {
  font-size: 26px;
  font-family: 'EB Garamond', serif;
}

.link {
  cursor: pointer;
}

/* Navbar */

.navbar {
  margin-bottom: 5px;
}

/* Home */

.primaryImg {
  max-width: 200px;
  border: 10px 10px;
  float: left;
}

.upperdiv.container {
  margin: 30px auto 20px auto;
}

#home-left-div {
  padding-left: 0px;
}

#home-right-div {
  padding-right: 10px;
}

/* Trend Chart */

#top-trends-div {
  font-family: 'EB Garamond', serif;
}

#top-trends-div > h3 {
  padding-left: 5px;
  margin-bottom: 22px;
}

#trend-list {
  padding-left: 10px;
}

li.trend-listing {
  list-style: none;
  margin: 5px 0;
}

.trend-rank {
  display: inline-block;
  font-size: 24px;
  min-width: 20px;
}

.trend-image {
  max-width: 200px;
  border-radius: 6px;
  margin: 5px;
  margin-right: 15px;
}

.trend-topic {
  font-size: 20px;
}

.trend-traffic {
  font-size: 16px;
}

/* Article */

.save-button {
  float: right;
}

.article-title {
  padding-right: 10px;
}

.article-image {
  padding-left: 0px;
  max-width: 95%;
  max-height: 95%;
}

.article-subheading {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  padding: 10px 10px 12px 0px;
}

.article-body {
  font-family: 'EB Garamond', serif;
  font-size: 16px;
  text-align: justify;
}

.article-author {
  text-align: right;
}

/* Article Preview */

.article-body-preview {
  height: 250px;
}

.article-preview-left {
  position: relative;
  padding: 10px 0px;
}

.article-date {
  float: right;
}

.article-preview-right {
  position: relative;
  height: 100%;
  overflow: scroll;
}

/* Search Bar */

.searchbar.form-control {
  border-radius: 0
}

.dropdown-menu>li>a {
}

.dropdown-image {
  width: 64px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.dropdown-image > img {
  height: 64px;
  max-width: 64px;
}

article
/* Results Graph */

#graph {
  width: auto;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.datafill {
    fill: lightsteelblue;
    fill-opacity: 0.5;
    stroke-width: 0;
}

.axis path,
.axis line {
  fill: none;
  stroke: #AAA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 32px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

div.tooltip-articles {
  position: absolute;
  text-align: left;
  width: 200px;
  height: 100px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightskyblue;
  border: 1px;
  border-color: black;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip-date {
  /* nothing needed */
}

.tooltip-value {
  font-weight: bold;
}

.tooltip-target {
  fill: black;
  fill-opacity: 0.0;
}

.tooltip-target-on {
  fill: black;
  fill-opacity: 0.25;
}

/*.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}*/

.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.tick {
  display: inline-block;
  /*font-weight: bold;*/
  font-size: 1.5em;
  stroke-width: 2px;
}

#profile-page {
  margin-top: 30px;
}


#profile-header {
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
}

#profile-header > img {
  width: 95px;
  margin: 20px 20px 20px 0;
  border-radius: 8px;
}

#profile-title {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 20px;
}

#search-history {
  word-wrap: break-word;
  border-spacing: 0 1em;
  width: 100%;
  padding-top: 15px;
  margin-top: 10px;
}

.search-history-saveddate {
  width: 12%;
}

.search-history-title {
  width: 46%;
}

.search-history-title > a {
  padding-right: 5px;
}

.search-history-source {
  width: 20%;
}

.search-history-source > div {
  padding-right: 20px;
}

.search-history-date {
  width: 12%;
}

.search-history-remove {
  width: 10%;
}
