@import 'https://fonts.googleapis.com/css?family=Playfair+Display+SC|EB+Garamond';

h1 {
  font-family: 'Playfair Display SC', serif;
  text-align: center;
  margin-top: 0px;
}

h1 > a {
  text-decoration: none;
  color: black;
}

h1 > a:hover {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  display: inline
}

.primaryImg {
  max-width: 200px;
  border: 10px 10px;
  float: left;
}

.upperdiv.container {
  margin: 30px auto;
}

/* Trend Chart */

#top-trends-div {
  font-family: 'EB Garamond', serif;
}

#top-trends-div > h3 {
  font-size: 30px;
  margin-top: 0px;
  padding-left: 5px;
  margin-bottom: 22px;
}

#trend-list {
  padding-left: 10px;
}

li.trend-listing {
  list-style: none;
  margin: 5px 0;
}

.trend-rank {
  display: inline-block;
  font-size: 24px;
  min-width: 20px;
}

.trend-image {
  max-width: 200px;
  border-radius: 6px;
  margin: 5px;
  margin-right: 15px;
}

span.trend-topic {
  font-size: 20px;
}

/* Search Bar */

.searchbar.form-control {
  border-radius: 0
}

.dropdown-menu>li>a {
}

.dropdown-image {
  width: 64px;
  display: inline-block;
  text-align: right;
  margin-right: 10px;
}

.dropdown-image > img {
  height: 64px;
  max-width: 64px;
}

/* Results Graph */

#graph {
  width: auto;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #AAA;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 32px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip-date {
  /* nothing needed */
}

.tooltip-value {
  font-weight: bold;
}

.tooltip-target {
  fill: black;
  fill-opacity: 0.1;
}